<?xml version="1.0"?>
<config>
    <modules>
        <Keyup_ProductVideos>
            <version>1.0.0</version>
        </Keyup_ProductVideos>
    </modules>
    <global>
        <helpers>
            <keyup_productvideos>
                <class>Keyup_ProductVideos_Helper</class>
            </keyup_productvideos>
        </helpers>
        <resources>
            <productvideos_setup>
                <setup>
                    <module>Keyup_ProductVideos</module>
                </setup>
                <connection>
                    <use>default_setup</use>
                </connection>
            </productvideos_setup>
        </resources>
        <models>
            <keyup_productvideos>
                <class>Keyup_ProductVideos_Model</class>
            </keyup_productvideos>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <keyup_productvideos>
                    <file>keyup/productvideos.xml</file>
                </keyup_productvideos>
            </updates>
        </layout>
    </frontend>
    <default>
        <design>
            <productvideos>
                <pvwidth>583</pvwidth>
                <pvheight>328</pvheight>
                <pvbehavior>PV_MP</pvbehavior>
            </productvideos>
        </design>
    </default>
</config>